/* Some starer styling. Feel free to change anything you like */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220,220,220);
  font-size: 15px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.65);
  background-color: white;
}

table {
  border-collapse: collapse;
  border: none;
  min-width: 320px;
  margin: 20px 30px 20px 7px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(220, 220, 220);
}

td, th {
  padding: 10px 25px 10px 10px;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.nav__button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav__button:focus {
  outline: 2px solid yellow;
}

.nav__button:active {
  outline: 3px solid yellowgreen;
}

.left-arrow {
  display: flex;
  align-items: center;
  transform: rotate(180deg);
}

@media screen and (max-width: 550px) {
  table, thead, tbody, th, td { 
    display: block; 
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  thead /*tr*/ { /* Hide table header */
    position: absolute;
    top: 110vh;
    left: 110vw;
  }

  td { 
    width: 50%;
  }

  /* Label each cell */
  td:before {
    display: block;
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: "💰 Coin";
  }

  td:nth-of-type(2):before {
    content: "📄 Code";
  }
  td:nth-of-type(3):before {
    content: "🤑 Price";
  }
  td:nth-of-type(4):before {
    content: "📉 Total Supply";
  }
}
